.container {
    display: flex;
    margin: 0;
    padding: 0;
    max-width: 100%;
    .image-left {
        width: 55%;
        height: 100vh;
        background-image: url('../../../../../../daothanhloc/Pictures/Screenshot\ from\ 2019-11-24\ 19-35-22.png');
        background-size: cover;
    }
    .form-login {
        width: 45%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .login {
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            font-size: 14px;
            input {
                border: 0;
                border-bottom: 1px solid #AAA;
                width: 70%;
                margin-bottom: 20px;
            }
            .login-btn {
                width: 40%;
                background: rgb(163, 58, 58);
                height: 35px;
                border: 1px solid black;
                border-radius: 2px;
                color: white;
            }
        }
        .form-control   {
            width: 70%;
            border: 0px solid #AAA;
            border-radius: 0;
            border-bottom: 1px solid #AAA;
        }
    }
}