<div class="container">
    <div class="effect-form">
        <form>
            <div class="form-group">
              <label for="exampleFormControlInput1">Titre du scénario</label>
              <input type="email" class="form-control" id="exampleFormControlInput1">
            </div>
            <div class="form-group">
              <label for="exampleFormControlTextarea1">Description</label>
              <textarea class="form-control" id="exampleFormControlTextarea1" rows="8"></textarea>
            </div>
        </form>
        <div class="effect-form-2">
            <div class="effect-item">
                <p><strong>Prix</strong></p>
                <input type="number">
                <p><strong>€</strong></p>
            </div>
            <div class="effect-item">
                <p><strong>Couleur:</strong></p>
            </div>
            <div class="effect-item">
                <div class="custom-control custom-switch">
                    <label class="custom-control-label" for="customSwitch1">Payant</label>
                    <input type="checkbox" class="custom-control-input" id="customSwitch1">
                </div>  
            </div>
        </div> 
        <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="inputGroupFileAddon01">Upload</span>
            </div>
            <div class="custom-file">
              <label class="custom-file-label" for="inputGroupFile01">Choose file</label>
            </div>
          </div>
        <div class="effect-button">
            <button type="button" class="btn btn-danger">AJOUTER ICONE</button>
            <button type="button" class="btn btn-primary">AJOUTER AUDIO</button>
            <button type="button" class="btn btn-dark">Valider</button>
        </div>    
    </div>
</div>