<div class="container">
    <div class="line1">
        <div class="line1-item">
            <i class="fa fa-envelope-open-o" aria-hidden="true"></i>
            <p><strong>Message</strong></p>
        </div>
        <div class="line1-item" routerLink="/main/contents">
            <i style="margin-top: 30px ;" class="fa fa-user" aria-hidden="true"></i>
            <p ><strong>Gestion des<br>utilisateurs</strong></p>
        </div>
    </div>
    <div class="line1">
        <div class="line1-item">
            <i class="fa fa-pencil" aria-hidden="true"></i>
            <p><strong>Gestion des scénarios</strong></p>
        </div>
        <div class="line1-item">
            <i class="fa fa-wrench" aria-hidden="true"></i>
            <p><strong>Gestion des effets</strong></p>
        </div>
    </div>
</div>